.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.seamless {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:-5;
  margin-top:-5;  
}
.gradient-1 {
  background: linear-gradient(to bottom, 
  	#343a40 5%, #f7f7f7  95%);
}
.gradient-2 {
  background: linear-gradient(to bottom, 
  	darkgrey  0%, #f7f7f7  90%);
}
.covering {
    object-fit: cover;
}
